In [54]:
import pandas as pd
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (2.5.9)
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [55]:
df = pd.read_excel("/content/abandoned 10 june 2021.xlsx")

In [56]:
import pandas as pd

sheet1, sheet2 = None, None
with pd.ExcelFile("/content/abandoned 10 june 2021.xlsx") as reader:
    sheet1 = pd.read_excel(reader, sheet_name='Sheet1')
    sheet2 = pd.read_excel(reader, sheet_name='Sheet2')

In [57]:
df = sheet1

In [58]:
df.head(2)

   Queue  Agent ID Agent Name  ... Abandoned Success 7192
0   7191       NaN        NaN  ...       1.0     1.0  0.0
1   7192       NaN        NaN  ...       3.0     0.0  1.0

[2 rows x 15 columns]

In [70]:
df.groupby(['Abandoned', 'Queue', 'Phone'])

In [61]:

# iterating an element
# of group
  
grp = df.groupby(['Phone', 'Status', 'Queue'])
for name, group in grp:
    print(name)
    print(group)
    print()

(1006593387, 'Abandoned', 7191)
   Queue  Agent ID Agent Name  ... Abandoned Success 7192
0   7191       NaN        NaN  ...       1.0     1.0  0.0

[1 rows x 15 columns]

(1006593387, 'Abandoned', 7192)
   Queue  Agent ID Agent Name  ... Abandoned Success 7192
1   7192       NaN        NaN  ...       3.0     0.0  1.0

[1 rows x 15 columns]

(1006593387, 'Abandoned', 7193)
   Queue  Agent ID Agent Name  ... Abandoned Success 7192
2   7193       NaN        NaN  ...       1.0     0.0  0.0

[1 rows x 15 columns]

(1009378796, 'Abandoned', 7191)
    Queue  Agent ID Agent Name   Call Date  ... cell no Abandoned Success 7192
22   7191       NaN        NaN  2021-06-10  ...     NaN       NaN     NaN  NaN

[1 rows x 15 columns]

(1012383319, 'Abandoned', 7193)
    Queue  Agent ID Agent Name  ... Abandoned Success 7192
11   7193       NaN        NaN  ...       2.0     0.0  0.0

[1 rows x 15 columns]

(1012383319, 'Success', 7193)
   Queue  Agent ID            Agent Name  ... Abandoned Success 7192
9   7193    2637.0  Wonders-Dental-Amira  ...       0.0     1.0  0.0

[1 rows x 15 columns]

(1017419292, 'Success', 7193)
    Queue  Agent ID            Agent Name  ... Abandoned Success 7192
23   7193    2636.0  Wonders-Dental-Samar  ...       NaN     NaN  NaN

[1 rows x 15 columns]

(1020922132, 'Abandoned', 7193)
    Queue  Agent ID Agent Name   Call Date  ... cell no Abandoned Success 7192
26   7193       NaN        NaN  2021-06-10  ...     NaN       NaN     NaN  NaN

[1 rows x 15 columns]

(1020922132, 'Success', 7191)
    Queue  Agent ID            Agent Name  ... Abandoned Success 7192
25   7191    2636.0  Wonders-Dental-Samar  ...       NaN     NaN  NaN

[1 rows x 15 columns]

(1022428148, 'Success', 7193)
    Queue  Agent ID            Agent Name  ... Abandoned Success 7192
30   7193    2636.0  Wonders-Dental-Samar  ...       NaN     NaN  NaN

[1 rows x 15 columns]

(1060304954, 'Success', 7193)
    Queue  Agent ID            Agent Name  ... Abandoned Success 7192
17   7193    2636.0  Wonders-Dental-Samar  ...       0.0     2.0  0.0

[1 rows x 15 columns]

(1096721678, 'Abandoned', 7193)
    Queue  Agent ID Agent Name   Call Date  ... cell no Abandoned Success 7192
29   7193       NaN        NaN  2021-06-10  ...     NaN       NaN     NaN  NaN

[1 rows x 15 columns]

(1096721678, 'Success', 7191)
    Queue  Agent ID            Agent Name  ... Abandoned Success 7192
28   7191    2636.0  Wonders-Dental-Samar  ...       NaN     NaN  NaN

[1 rows x 15 columns]

(1112337231, 'Success', 7191)
    Queue  Agent ID            Agent Name  ... Abandoned Success 7192
10   7191    2637.0  Wonders-Dental-Amira  ...       0.0     1.0  0.0

[1 rows x 15 columns]

(1116039380, 'Success', 7191)
    Queue  Agent ID            Agent Name  ... Abandoned Success 7192
24   7191    2636.0  Wonders-Dental-Samar  ...       NaN     NaN  NaN

[1 rows x 15 columns]

(1122051460, 'Abandoned', 7191)
    Queue  Agent ID Agent Name   Call Date  ... cell no Abandoned Success 7192
31   7191       NaN        NaN  2021-06-10  ...     NaN       NaN     NaN  NaN
32   7191       NaN        NaN  2021-06-10  ...     NaN       NaN     NaN  NaN

[2 rows x 15 columns]

(1142903412, 'Abandoned', 7191)
   Queue  Agent ID Agent Name  ... Abandoned Success 7192
3   7191       NaN        NaN  ...       1.0     1.0  0.0
4   7191       NaN        NaN  ...       0.0     1.0  0.0
5   7191       NaN        NaN  ...       1.0     1.0  0.0
6   7191       NaN        NaN  ...       0.0     1.0  0.0

[4 rows x 15 columns]

(1142903412, 'Success', 7191)
    Queue  Agent ID            Agent Name  ... Abandoned Success 7192
14   7191    2637.0  Wonders-Dental-Amira  ...       1.0     1.0  1.0

[1 rows x 15 columns]

(1151522322, 'Success', 7193)
    Queue  Agent ID            Agent Name  ... Abandoned Success 7192
20   7193    2636.0  Wonders-Dental-Samar  ...       1.0     0.0  0.0

[1 rows x 15 columns]

(1151552797, 'Abandoned', 7192)
    Queue  Agent ID Agent Name  ... Abandoned Success 7192
13   7192       NaN        NaN  ...       0.0     1.0  0.0

[1 rows x 15 columns]

(1151552797, 'Success', 7193)
    Queue  Agent ID            Agent Name  ... Abandoned Success 7192
12   7193    2637.0  Wonders-Dental-Amira  ...       4.0     1.0  0.0

[1 rows x 15 columns]

(1155564422, 'Success', 7191)
   Queue  Agent ID            Agent Name  ... Abandoned Success 7192
8   7191    2637.0  Wonders-Dental-Amira  ...       1.0     1.0  0.0

[1 rows x 15 columns]

(1157300342, 'Success', 7193)
    Queue  Agent ID            Agent Name  ... Abandoned Success 7192
19   7193    2636.0  Wonders-Dental-Samar  ...       0.0     1.0  0.0

[1 rows x 15 columns]

(1158010048, 'Success', 7191)
    Queue  Agent ID            Agent Name  ... Abandoned Success 7192
15   7191    2637.0  Wonders-Dental-Amira  ...       0.0     1.0  0.0
21   7191    2636.0  Wonders-Dental-Samar  ...       NaN     NaN  NaN

[2 rows x 15 columns]

(1206300259, 'Abandoned', 7191)
    Queue  Agent ID Agent Name   Call Date  ... cell no Abandoned Success 7192
33   7191       NaN        NaN  2021-06-10  ...     NaN       NaN     NaN  NaN

[1 rows x 15 columns]

(1224109793, 'Success', 7191)
   Queue  Agent ID            Agent Name  ... Abandoned Success 7192
7   7191    2637.0  Wonders-Dental-Amira  ...       0.0     1.0  0.0

[1 rows x 15 columns]

(1558758668, 'Abandoned', 7193)
    Queue  Agent ID Agent Name   Call Date  ... cell no Abandoned Success 7192
27   7193       NaN        NaN  2021-06-10  ...     NaN       NaN     NaN  NaN

[1 rows x 15 columns]

(966544416578, 'Abandoned', 7191)
    Queue  Agent ID Agent Name  ... Abandoned Success 7192
16   7191       NaN        NaN  ...       0.0     1.0  0.0

[1 rows x 15 columns]

(966544416578, 'Success', 7193)
    Queue  Agent ID            Agent Name  ... Abandoned Success 7192
18   7193    2636.0  Wonders-Dental-Samar  ...       1.0     0.0  0.0

[1 rows x 15 columns]