![sslogo](https://github.com/stratascratch/stratascratch.github.io/raw/master/assets/sslogo.jpg)

 # Datetime Package Solutions

### Import the datetime package.

The documentation for this package is available at:
- https://docs.python.org/3.7/library/datetime.html

In [0]:
import datetime as dt

Use ipython magic to see function options. Type datetime. and press tab.  Highlight time and press enter.  Hit shift-tab

In [0]:
dt.time

datetime.time

### Create an instance of a time.

The arguments are hour, minute, second, microsecond in order. If you do not supply a value of 0 is assumed as the default. You can call dt.time() with no arguments to get 00:00:00

In [0]:
print("1 Hour")
print (dt.time(1))

print("2 and a half hour")
print(dt.time(2, 30))

print("3 hours, 45 minutes and 30 seconds")
print(dt.time(3, 45, 30))

1 Hour
01:00:00
2 and a half hour
02:30:00
3 hours, 45 minutes and 30 seconds
03:45:30

### Use the `dt.datetime.now` function to get the current datetime stamp.

In [0]:
ts_now = dt.datetime.now()
print(ts_now)

2018-07-12 13:40:16.137955

Extract the day from the timestamp

In [0]:
print(ts_now.day)

12

Extract some other datetime elements

In [0]:
print (ts_now.year)
print (ts_now.month)
print (ts_now.minute)
print (ts_now.second)
print (ts_now.microsecond)

2018
7
40
16
137955

Create a timestamp for Christmas.

Unlike the time object which can have all 0 values the datetime object must have at least year, month and day defined.

In [0]:
ts_xmas = dt.datetime(2018,12,25)
print (ts_xmas)

2018-12-25 00:00:00

### Do math with the timestamps.

You can substract two points in time to get a dt.timedelta object which describes how far apart are they in number of days and hours.

In [0]:
ts_diff = ts_xmas - ts_now
print (ts_diff)
print (type(ts_diff))

165 days, 10:19:43.862045
<class 'datetime.timedelta'>

You can also create a timedelta value manually and add it some datetime object.

For example to find out what day it will be in 45 days and 13 hours we can do:

In [0]:
today = dt.datetime.now()

offset = dt.timedelta(days=45, hours=13)

print(today + offset)

2018-08-27 02:40:25.351092

### Convert a string to datetime.

To convert a string into a datetime we need to know the format of the string.
In this example we show how to use with formats "day/month/year" and "month-day-year".

The function of importance here is `strptime` in `dt.datetime` which is short for **str**ing **p**arse **time**.

Its first argument is the datetime as a string and the second argument is the format.

The formatting language is explained at:
- https://docs.python.org/3.7/library/datetime.html#strftime-strptime-behavior

In Short:
- %Y stands for year
- %d stands for day
- %m stands for month
- %H stands for hour
- %M stands for minute
- %S stands for second
- Everything without % before it stays as it was (e.g. analytics data %Y-%m-%d is a valid format string)

In [0]:
date_str = "01-10-2015"
date_ts = dt.datetime.strptime(date_str,"%m-%d-%Y")
print (date_ts)
print("---------------------------")

date_str = "10/01/2015"
date_ts = dt.datetime.strptime(date_str,"%d/%m/%Y")
print (date_ts)

print("---------------------------")
print (type(date_ts))

2015-01-10 00:00:00
---------------------------
2015-01-10 00:00:00
---------------------------
<class 'datetime.datetime'>

### Convert a datetime object to a string

We can use the parsing procedure in reverse. 

To convert a datetime as a string we use strftime with f standing for format.

First argument is the datetime to convert to string and second is format string.

The formatting language still remains the same.

In [0]:
new_date_str = dt.datetime.strftime(date_ts, "%H:%M:%S %m-%d-%Y")
print (new_date_str)
print (type(new_date_str))

00:00:00 01-10-2015
<class 'str'>

### Exercises

#### 1. Create a variable called future with a datetime value of January 20, 2019 at 12:00pm

In [0]:
future = dt.datetime(2019,1,20,12)
print (future)

2019-01-20 12:00:00

#### 2. Create a variable with a timedelta equal to the difference between future and now

In [0]:
td = future - dt.datetime.now()
print(td)

191 days, 22:19:24.835590

#### 3. Print the number of seconds from the timedelta

In [0]:
print (td.total_seconds())
print (td)
print (td.seconds)
print (td.days)
print (td.days*24*60*60 + td.seconds)

print (dt.timedelta(seconds=td.total_seconds()))
print (dt.datetime.today() - dt.timedelta(days=30))

16582764.83559
191 days, 22:19:24.835590
80364
191
16582764
191 days, 22:19:24.835590
2018-06-12 13:40:36.903132

In [0]:
(future - dt.datetime.now()).total_seconds()

16582761.299689

In [0]:
td.total_seconds()%60

24.835589999333024

#### 4. Convert the following string into a datetime object

'Jan 20, 2017 5pm'

In [0]:
dt.datetime.strptime('Jan 20, 2017 5pm', '%b %d, %Y %H%p')

datetime.datetime(2017, 1, 20, 5, 0)

**5. You are given a list of dates. Find the date which is oldest. Print the number of seconds passed since that date to today**

For example.

datetime_list = ['25.08.1995 00:00:00', '22.07.1999 00:00:00', '01.01.2001 13:42:59', '13.12.2011 01:02:03']

Oldest date is '25.08.1995 00:00:00'

You also need to find the format yourself.

Hint: You can get each datetime as total seconds since 1 AD and compare these values to find oldest date

In [0]:
datetime_format = "%d.%m.%Y %H:%M:%S"

# minimal datetime value
origin = dt.datetime(1, 1, 1)

# we set this large initially
min_seconds_passed = 1000000000000000000000000000000
oldest_date = None

for string in ['25.08.1995 00:00:00', '22.07.1999 00:00:00', '01.01.2001 13:42:59', '13.12.2011 01:02:03']:
    # convert string to datetime
    test_dt = dt.datetime.strptime(string, datetime_format)
    
    # find how far away is this datetime from origin
    difference = (test_dt - origin).total_seconds() 
    
    # do the check to see if this is the minimal distance
    if difference < min_seconds_passed:
        oldest_date = test_dt
        min_seconds_passed = difference
        
print(oldest_date)
print(dt.datetime.now() - oldest_date)

1995-08-25 00:00:00
8357 days, 13:40:44.909912

#### Bonus: 
Try converting strings to datetime objects and datetime objects back to strings.  What are some interesting datetime formats you can find in the documentation?

In [0]:
example = dt.datetime(2017,12,15,17,30)

print (dt.datetime.strftime(example,'%m/%d/%y'))
print (dt.datetime.strftime(example,'%b-%d-%Y'))
print (dt.datetime.strftime(example,'%H:%M:%S'))
print (dt.datetime.strftime(example,'%B %d, %Y'))
print (dt.datetime.strftime(example,'%a %I %p'))
print (dt.datetime.strftime(example,'%U'))
print (dt.datetime.strftime(example,'sales report %Y%m%d.xlsx'))

12/15/17
Dec-15-2017
17:30:00
December 15, 2017
Fri 05 PM
50
sales report 20171215.xlsx